* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #231F20;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-style: normal;
   
}

main {
    text-align: center;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;

}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

@media screen and (min-width: 1024px) {
    .section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}